<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Incridea 2K18</title>
    
    <!-- Bootstrap 4 CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Angualr Js -->
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="display-1 text-primary">Incridea 2K18</h1>
    </div>

    <!-- Bootstrap 4 Js -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>