<section>
    <div class="bg-primary p-1 px-3 d-flex">
        <marquee behavior="scroll" direction="left" scrollamount="30" scrolldelay="200">
            <h6 class="text-white">{{ dashboardMsg }}</h6>
        </marquee>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-12 border border-top-0 border-bottom-0 border-left-0 bg-light px-0">
                <ul class="list-group side-dashboard-nav">
                    <li class="list-group-item">
                        <h4 class="text-capitalize text-center my-2">Dashboard Options</h4>
                    </li>
                    <li class="list-group-item active">
                        <h2 class="text-capitalize h6">General</h2>
                    </li>
                    <li class="list-group-item">
                        <a href="#!dashboard" class="list-group-item-action links">
                            <h2 class="text-capitalize h6">Instruction</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#!dashboard/register" class="list-group-item-action links">
                            <h2 class="text-capitalize h6">Register PID</h2>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <h2 class="text-capitalize h6">PID List</h2>
                    </li>
                    <li class="list-group-item">
                        <a href="#!dashboard" class="list-group-item-action links">
                            <h2 class="text-capitalize h6">Total Registration</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#!dashboard" class="list-group-item-action links">
                            <h2 class="text-capitalize h6">Registration Issue</h2>
                        </a>
                    </li>
                    <li class="list-group-item active">
                        <h2 class="text-capitalize h6">Events</h2>
                    </li>
                    <li class="list-group-item">
                        <a href="#!dashboard/event" class="list-group-item-action links">
                            <h2 class="text-capitalize h6">Events Schedule</h2>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#!dashboard" class="list-group-item-action links">
                            <h2 class="text-capitalize h6">Contact Organizers</h2>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-sm-12">
                <h1 class="display-4 text-capitalize">{{ recentMsg }}</h1>
                <div class="row my-4">
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="font-weight-light">TOTAL PID REGISTRATED</h1>
                            </div>
                            <div class="card-footer">
                                <h4 class="font-weight-light">{{ total_registration.count }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="font-weight-light">INTERNAL REGISTRATION</h1>
                            </div>
                            <div class="card-footer">
                                <h4 class="font-weight-light">{{ internal_registration.count }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="font-weight-light">EXTERNAL REGISTRATION</h3>
                            </div>
                            <div class="card-footer">
                                <h4 class="font-weight-light">{{ external_registration.count }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group" id="participant-list">
                    <li class="list-group-item" ng-repeat="x in participantsList | orderBy : 'PID' : true | limitTo: 10" ng-click="detailsToggle()">
                        <div ng-show="details">
                            <span>Name: {{ x.Name }}</span>
                            <span class="float-right">PID: {{ x.PID }}</span>
                        </div>
                        <table class="table table-bordered" ng-hide="details">
                            <thead class="table-dark text-center">
                                <tr>
                                    <td>Header</td>
                                    <td>Values</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ x.Name }}</td>
                                </tr>
                                <tr>
                                    <td>USN</td>
                                    <td>{{ x.USN }}</td>
                                </tr>
                                <tr>
                                    <td>Email ID</td>
                                    <td>{{ x.Email_ID }}</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>{{ x.Phone }}</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>{{ collegeName(x.College_code) }}</td>
                                </tr>
                                <tr>
                                    <td>PID</td>
                                    <td>{{ x.PID }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>