<section id="brand" class="container-fluid">
    <div class="d-flex align-items-center justify-content-center justify-content-md-start">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Follow us on social media</h4>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/incrideanitte/">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container-fluid">
        <h1 class="text-center p-3">INCRIDEA with motive of Innovate, Create and Ideate. </h1>
    </div>
</section>
<section id="showcase">
    <div class="container-fluid">
        <div class="row p-2 text-white text-center">
            <div class="col-lg-4 col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <img src="img/innovate-showcase.png" alt="Innovate Image" class="w-50 mx-auto" height="150">
                </div>
                <h1 class="display-4">Innovate</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id corporis sunt quisquam. In unde sapiente maxime veniam dicta nisi cumque perspiciatis tenetur tempora eos perferendis itaque, quasi aperiam pariatur soluta.</p>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <img src="img/ideate-showcase.png" alt="Ideate Image" class="w-50 mx-auto" height="150">
                </div>
                <h1 class="display-4">Create</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, possimus consequatur quo aliquam molestiae velit ea ipsa natus enim aspernatur nulla id inventore! Pariatur fugit animi asperiores nostrum quam dolorem?</p>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <img src="img/create-showcase.png" alt="Create Image" class="w-50 mx-auto" height="150">
                </div>
                <h1 class="display-4">Ideate</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsa dolorum ex exercitationem perspiciatis ipsum suscipit excepturi ratione tempore adipisci. Aliquam odio hic dolorem expedita aperiam suscipit </p>
            </div>
        </div>
    </div>
</section>
<section id="histroy">
    <article id="about-nitte" class="container-fluid">
        <h1 class="display-3">About NMAMIT</h1>
        <p class="text-justify lead">Nitte Mahalinga Adyanthaya Memorial Institute of Technology is an autonomous engineering college in Nitte, Karnataka, India. It being situated in Nitte, which sits on the western ghats. Established in 1986, the college is run by the Nitte Education Trust, which was founded in 1979 by Justice Kowdoor Sadananda Hegde, former Chief Justice of the Supreme Court and former Speaker of the Lok Sabha. The college is affiliated to the Visvesvaraya Technological University, Belgaum. It received the autonomous status in 2007-08.</p>
        <p class="text-justify lead">The constantly changing engineering paradigms, in response to growing complexity of the industry environment today have necessitated these two to come closer. Industry–Institute Collaboration requires dedicated efforts to establish a system. NMAMIT believes in working closely with the industry for mutual benefits of students and industry.</p>
    </article>
    <hr>
    <article id="about-incridea" class="container-fluid">
        <h1 class="display-3">About INCRIDEA-2K18</h1>
        <p class="text-justify lead">NMAMIT, Nitte is hosting Culture-tech fest named INCRIDEA. Previously We had two fest Technidarshan technical fest and Anandotsav Culture fest</p>
        <div class="row text-center">
            <!-- <div class="d-flex justify-content-center col-lg-12">
               <h1 class="display-4">Incridea LOGO</h1>
            </div> -->
            <div class="col-lg-6 col-md-12" id="about-tn">
                <h1 class="display-4">Technidarshan</h1>
                <p class="text-justify lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa labore, officia laudantium dolore illum quas odio expedita rerum earum, impedit beatae debitis, nulla suscipit placeat voluptatum vero dolorum autem exercitationem deleniti. Iste quaerat quam debitis suscipit ratione iure maiores nemo, itaque illum quis, culpa consectetur eos veritatis reiciendis, soluta nesciunt.</p>
            </div>
            <div class="col-lg-6 col-md-12" id="about-an">
                <h1 class="display-4">Anandotsav</h1>
                <p class="text-justify lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas iste rerum harum vitae, excepturi consectetur non porro quo nihil veritatis tenetur? Facilis fugiat expedita eius quis voluptatibus praesentium harum recusandae necessitatibus. Eaque amet nam, labore modi maxime necessitatibus, sunt aliquam temporibus perferendis cum voluptatem cumque ipsa molestiae itaque, iure quae!</p>                    
            </div>
        </div>
    </article>
</section>