<section id="brand">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-end">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Follow us on social media</h4>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/incrideanitte/"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i> <span class="font-2x">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/incridea/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> <span class="font-2x">Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container-fluid">
        <h1 class="text-center p-3">INCRIDEA with a motive to Innovate, Create and Ideate. </h1>
    </div>
</section>
<section id="showcase">
    <div class="container-fluid">
        <div class="row p-2 text-white text-center my-2 py-2">
            <div class="col-lg-4 col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <img src="img/innovate-showcase.png" alt="Innovate Image" class="w-50 mx-auto" height="150">
                </div>
                <h1 class="display-4">Innovate</h1>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <img src="img/ideate-showcase.png" alt="Ideate Image" class="w-50 mx-auto" height="150">
                </div>
                <h1 class="display-4">Create</h1>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="d-flex justify-content-center mt-2">
                    <img src="img/create-showcase.png" alt="Create Image" class="w-50 mx-auto" height="150">
                </div>
                <h1 class="display-4">Ideate</h1>
            </div>
        </div>
    </div>
</section>
<section id="histroy">
    <article id="about-nitte" class="container-fluid">
        <h1 class="display-3">About NMAMIT</h1>
        <p class="text-justify lead">Nitte Mahalinga Adyanthaya Memorial Institute of Technology is an autonomous engineering college in Nitte, Karnataka, India. It being situated in Nitte, which sits on the western ghats. Established in 1986, the college is run by the Nitte Education Trust, which was founded in 1979 by Justice Kowdoor Sadananda Hegde, former Chief Justice of the Supreme Court and former Speaker of the Lok Sabha. The college is affiliated to the Visvesvaraya Technological University, Belgaum. It received the autonomous status in 2007-08.</p>
        <p class="text-justify lead">The constantly changing engineering paradigms, in response to growing complexity of the industry environment today have necessitated these two to come closer. Industry–Institute Collaboration requires dedicated efforts to establish a system. NMAMIT believes in working closely with the industry for mutual benefits of students and industry.</p>
    </article>
    <hr>
    <article id="about-incridea" class="container-fluid">
        <h1 class="display-3">About INCRIDEA-2K18</h1>
        <p class="text-justify lead">Incridea is the National level techno-cultural fest of NMAM Institute of Technology , Nitte. It is a celebration of all forms of technical, literary and cultural talents. Our family started out with Technidarshan and Anandotsava. Now , we ' ve come up with a novel fest model combining the best of in one mega Fest. Our fests have managed to attract students from professional colleges all over the country. This year we’re expecting a footfall of 7000+ students in the campus , with over 45 events planned , Incridea is said to reach new standards. Be there.</p>
        <div class="row text-center">
            <div class="col-lg-6 col-md-12" id="about-tn">
                <h1 class="display-4">Technidarshan</h1>
                <p class="text-justify lead">TechNidarshan was a premier national level technical festival which promoted the technical competence of engineering students of the nation. It was started to pique the curious minds belonging to the era of technology. We served that purpose ever since we started.</p>
            </div>
            <div class="col-lg-6 col-md-12" id="about-an">
                <h1 class="display-4">Anandotsava</h1>
                <p class="text-justify lead">Anandotsava is a celebration of all forms of literary, art and culture. The reason for our success is simple; the quality that Anandotsava delivers. The aim was to bring out sophisticated, challenging and thought provoking events that enthrall the participants.               </p>                    
            </div>
        </div>
    </article>
</section>